@use '../base/mixins' as m;
@use '../base/variables' as v;

.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;//para ocultarlo 
    pointer-events: none; // para que me permita realizar click en los elemento miestras no esta el modal 
}
.modal--activo{
    opacity: 1; //muestra modal
    pointer-events: unset;
}
.cierreModal{
    display: block;
    margin: 0 auto;
    font-size: 10px;
    color: v.$blanco;
    width: 2rem;
    height: 2rem;
    font-weight: bold;
}
.modalContainer{
    width: 90%;
    max-width: 60rem;
    height: 40rem;
    max-height: 90%;
    background-color: v.$beige;
    margin: auto;
    border-radius: 5px;
    @include m.grid(2,2rem);
    p{
        grid-column: 1/3;
        display: grid;
        place-items: center;
        padding: 2rem auto;
        font-size: 2rem;
        text-transform: uppercase;
        color: v.$azul;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    img{
        grid-column: 1/3;
        display: grid;
        place-items: center;
        max-width: 60px;
    }
}
#btn-realizar-pago{
    grid-column: 1/3;
     width: 50%;
     margin: 2rem auto;
     border-radius: 5px;
     border: transparent;
     background-color: rgb(22, 125, 22);
     color: v.$azul;
     text-transform: uppercase;
     font-weight: bold;
}
.modalTickets,.cantidadTickets{
    width: 90%;
    margin: 0 auto;
    border: transparent;
    border-radius: 5px;
    background-color: v.$azul;
    color: v.$beige;
    padding-left: 1rem;
}
@include m.tablet{
    .modalTickets,.cantidadTickets{
        grid-column: 1/3;
    }
}

//estilos clases tickets.js
.infoApagar{
    background-color: v.$celeste;
    font-weight: bold;
    margin-bottom: 2rem;
}